.articleCol{

	color: black;
	/* /* margin-left: 200px; */
	/* margin-right: 0px; */
	
	width: 47%; 
	padding: 20px; 
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: white;
	font-size: 20px;
}

@media (max-width: 1000px)
{
	.articleCol {
    	margin-left: 0px;
		margin-right: 0px; 
	}
}