.img-container {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.img-container > img {
    height: auto;
    width: 100%; 
}
.img-container > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caption {
    position: absolute;
    overflow: hidden;
    /* align-self: left; */
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white; 
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.869), rgba(0, 0, 0, 0.686), rgba(128, 128, 128, 0)); 
    height: 500px;
    width: 500px; 
}